.scroll-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.scroll-container {
  flex: 1;
  background-image: url("../../background.jpg");
  background-repeat: repeat-y;
  background-size: auto;
  background-position: center top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5rem 2rem;
  margin-top: -8rem;
  color: rgb(231, 57, 57);
}

.image-gallery-wrapper {
  background-color: #fff4ea;
  border-radius: 15px;
  width: 50%;
  padding: 2rem 0;
}

.image-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-wrapper {
  background-color: #fff4ea;
  border-radius: 4rem;
  box-shadow: 0 4px 20px #00aff0;
  width: 85%;
  margin-bottom: 2rem;
  padding: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.image-wrapper:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 175, 240, 0.5);
}

.image-wrapper img {
  max-width: 90%;
  border-radius: 50px;
}

.image-wrapper p {
  font-size: 2.5rem;
  font-family: "Roboto", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-weight: 600;
  color: #00aff0;
  margin-top: 1rem;
  text-transform: capitalize;
}

.scroll-title {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 550;
  color: #333;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  text-transform: capitalize;
}

.loading-indicator {
  text-align: center;
  margin-top: 2rem;
}
